<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="connectionFormat" value="Data Source=////172.100.10.100/sqliteDB/ALLDB_NewUI/{0};Version=3;Password=genesysinfo"/>
    <add key="mainPageID" value="pack://application:,,,/Views/Main.xaml"/>
  </appSettings>
</configuration>